<div class="main-container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="container">
        <div class="side-bar">
            <div class="typo subheader">
                Super Tags
            </div>
            <aye-tag-lister></aye-tag-lister>
            <div class="typo subheader">
                Regular Tags
            </div>
            <div class="tag-lister">
                <aye-tag-lister [draggable]="true" [tags]="tags"></aye-tag-lister>
            </div>
        </div>

        <div class="content">
            <div class="blade">
                <aye-tag-editor [tag]="tags[0]"></aye-tag-editor>
            </div>
        </div>
    </div>
</div>