<div class="container" *ngIf="tag">
    <div class="header">
        <div class="button box primary" (click)="new.emit()">New</div>
    </div>
    <div class="content">
        <input #name class="editable edit-tag" (keyup.enter)=onTagNameUpdated(name.value) value={{tag.description}}/>

        <div class="typo subheader">Color</div>
        <div class="colors">
            <mat-icon [ngStyle]="{'color': c}" *ngFor="let c of colors" class="clickable" (click)="onColorChange(c)">lens</mat-icon>
        </div>
        <div class="hr"></div>

        <!-- <div class="typo subheader">Super Configuration</div>
        <div class="section">
            <div class="kind">
                <div class="item gray-button">Regex</div>
                <div class="item gray-button">Date</div>
                <div class="item gray-button">Tags</div>
            </div>
            <div class="tag-drop" ayeTagDropArea (tagDropped)="onTagDropped($event)">
                <div *ngIf="droppedTags">
                    <aye-chipped-tag-lister [tags]="droppedTags"></aye-chipped-tag-lister>
                </div>
                <div class="center">
                    Drag and drop tags here, you can also arrange them
                </div>
            </div>
        </div> 
        <div class="hr"></div>-->
    </div>

    <!-- <div class="footer">
        <div class="button box secondary">Discard</div>
        <div class="button box primary">Save</div>
    </div> -->
</div>