.navigator {
    &.container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .super-list {
        display: flex;
        justify-content: space-around;
        background-color: #FAFAFA;
        padding: 5px;
        border-bottom: 1px solid #CCC;

        .tag {
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;

            &:hover {
                color: #1565c0;
                cursor: pointer;
            }
        }
    }
}