.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* padding-top: 12px; */
    height: 18px;
    margin-top: 5px;

}

.container:hover > .add-tags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-chip {
    color: #ecf0f1;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    min-height: 5px;
    padding: 0px 10px;
}

.add-tags {
    margin-left: 10px;
    display: none;
}

.tag-menu-item {
    display: flex;
}

input.new-tag {
    width: 100%;
    border: 0px;
}