<app-header></app-header>
<!-- <aye-navigator [tags]="favoriteTags" (tagClicked)="onTagClicked($event)"></aye-navigator> -->

<app-focus></app-focus>
<!-- <div *ngIf="activeTag">
    <app-super-tag [super]="activeTag" [items]="items"></app-super-tag>
</div> -->
<!-- <div class="container">
    <div class="content">
        <div class="filter">
            <div class="filter-category" (click)="onShowAll()">
                <h3>Show All</h3>
            </div>
            <div class="filter-category" (click)="onResetFilters()">
                <h3>Show Active</h3>
            </div>
            <div class="filter-category">
                <h3>Due Date</h3>
                <div class="filter-item">
                    Today
                </div>
                <div class="filter-item">
                    Tomorrow
                </div>
                <div class="filter-item">
                    This Week
                </div>
                <div class="filter-item">
                    Later
                </div>
            </div>
            <div class="filter-category">
                <h3>Tag</h3>
                <div class="tag-filter filter-item" *ngFor="let t of tags$ | async"
                    [ngStyle]="{'border-color': t.color}">
                    <div (click)="onAddTagFilter(t)">{{t.description}}</div>
                    <div *ngIf="view.tagFilters.has(t.id)" (click)="onRemoveTagFilter(t)">
                        <mat-icon class="round-icon small noborder">clear</mat-icon>
                    </div>
                </div>
            </div>

        </div>
        <div class="item-container">
            <aye-item class="item" [ngClass]="{archived: it.archivedAt}" *ngFor="let it of view.filtered" [item]=it
                [tagOptions]="_tagOptions" (update)="onItemModified($event)" (done)="onItemArchive($event)"
                (delete)="onItemDelete($event)">
            </aye-item>

            <aye-item class="item" [item]=newItem (update)="onItemAdded($event)" [hideSecondaryBar]=true
                [tagOptions]="_tagOptions"></aye-item>
        </div>
        <div class="post"></div>
    </div> 


</div>
-->
<!-- <div>
    <aye-horizontal-lister [items]="view.filtered"></aye-horizontal-lister>
</div> -->