.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.item {
    max-width: 600px;
    width: 100%;
    border-bottom: 1px solid #CCC;
}

.archived {
    background: #c1e1f1;
}