<div class="container">
    <div class="content">
        <h2><span [routerLink]="['/login']" [ngClass]="{'active': section === 'login'}">Login</span> / <span
                [routerLink]="['/signup']" [ngClass]="{'active': section === 'signup'}">Sign Up</span></h2>
        <form class="form">
            <mat-form-field class="full-width" *ngIf="section === 'signup'">
                <input matInput placeholder="Name" name="name" [(ngModel)]="name" autocomplete="nickname">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Email Address" name="email" [(ngModel)]="username" autocomplete="email">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Password" type="password" name="pass" [(ngModel)]="password"
                    autocomplete="current-password">
            </mat-form-field>

            <div *ngIf="showError" class="error">
                {{this.errorMessage}}
            </div>
            <div *ngIf="loading">
                Please wait...
            </div>

            <div class="full-width">
                <button mat-raised-button value="Get Productive" color="primary" (click)="onLoginClick()">Get
                    Productive</button>
            </div>
        </form>
    </div>
</div>