.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f51b5;

    .content {
        width: 100%;
        max-width: 500px;
        padding: 50px;
        padding-top: 100px;
        background: white;

        .form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
        }

        .full-width {
            width: 100%;
        }

        .error {
            color: #FF5555
        }

        h2 {
            cursor: pointer;
            outline: none;
        }

        .active {
            color: #3f51b5;
        }

        .signup-here {
            padding: 10px 0px;
        }
    }
}