.container {
    width: 100%;
    padding: 10px 20px 10px 20px;
    display: flex;
    vertical-align: middle;
    box-sizing: border-box;

    &:hover {
        background-color: #f6f8f9;
    }

    .content {
        display: flex;
        justify-content: center;
        font-size: 21px;
        width: 100%;
    }

    .bottom-bar {
        display: flex;
        flex-direction: column;

        .action {
            // see in container hover
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

        }
       
    }
}

input {
    border: none;
    font-size: inherit;
    height: 24px;
    background: transparent;
    width: 100%;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
}

.action h4 {
    margin: 0px;
    margin-right: 10px;
}

.drop-active {
    background: #eeffff;
}