<header>
    <div class="logo">dexterous.me</div>
    <div>
        <!-- <div class="social">Twitter</div> -->
        <div class="story"><a
                href="https://medium.com/@sureshssarda/serverless-moving-from-virtual-machines-to-app-engine-for-deployment-and-improving-the-process-40ac69d45d8c">Read
                our story</a></div>
        <a class="request" href="#request-access">
            Request Access
        </a>
    </div>

</header>
<div class="header-offset"></div>
<div>
    <div class="request-access-box">
        <div class="container">
            <h1>The task manager app for individual developer</h1>
            <h3>
                A better way for tracking tasks to get more productive.
                Sign up for dexterous.me and get more done at
                same effort.
            </h3>
            <div class="email">
                <input placeholder="Enter your email">
            </div>
            <div class="tnc">
                You will receive an email when the app is live
            </div>
            <div class="request-access-button">
                Request Access
            </div>
        </div>
    </div>

    <div class="preview">
        <img />
    </div>

    <div class="features">
        <div class="container">
            <div class="row">
                <div class="item">
                    <div class="icon">
                        <mat-icon>done</mat-icon>
                    </div>
                    <div class="more">
                        <div class="header">Get More Done</div>
                        <div class="body">Take control of your life by keeping a track of all the activities</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <mat-icon>build</mat-icon>
                    </div>
                    <div class="more">
                        <div class="header">Highly Customizable Tags</div>
                        <div class="body">Create tags that filter by date, category or super tags that filter by tags
                            themselves</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="icon">
                        <mat-icon>all_inclusive</mat-icon>
                    </div>
                    <div class="more">
                        <div class="header">Unlimited Usage</div>
                        <div class="body">Create as many tasks and tags as you want. No condition apply.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <mat-icon>view_week</mat-icon>
                    </div>
                    <div class="more">
                        <div class="header">Boards & Lists</div>
                        <div class="body">Arrange tasks in board, lists or create a custom view to see everything at one
                            place</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Request access box -->
    <div id="request-access" class="request-access-box">
        <div class="container">
            <h1>The task manager app for individual developer</h1>
            <h3>
                A better way for tracking tasks to get more productive.
                Sign up for dexterous.me and get more done at
                same effort.
            </h3>
            <div class="email">
                <input placeholder="Enter your email">
            </div>
            <div class="tnc">
                You will receive an email when the app is live
            </div>
            <div class="request-access-button">
                Request Access
            </div>
        </div>
    </div>
</div>

<footer>
    <div>
        <div class="logo">d</div>
        <div class="privacy-policy"> | Privacy Policy</div>
    </div>

    <div>
        <div class="social">Instagram</div>
        <div class="social">Twitter</div>
        <div class="story">
            <a
                href="https://medium.com/@sureshssarda/serverless-moving-from-virtual-machines-to-app-engine-for-deployment-and-improving-the-process-40ac69d45d8c">Read
                our story</a>
        </div>
    </div>

</footer>