.container {
    margin-top: 30px;
    padding-top: 40px;
    width: 100%;
    max-width: 800px;
    margin: auto;

    .action-bar {
        justify-content: flex-end;
        // border-bottom: 1px solid #EEE;
        // margin-bottom: 10px;
    }

    .content {

        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding: 15px 0px;

        .left {
            flex-basis: 200px;

        }

        .tasks {
            flex-basis: 600px;

        }
    }
}