<div class="container">
    <span *ngFor="let t of tags">{{t.name}}</span>
    <form>
        <mat-form-field>
            <input type="text" #newTagElement matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="onNewTagAdded($event)">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onNewTagAdded($event)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>