/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Slabo 27px', serif;
}

/* otherwise they hang from the top */

mat-icon {
    vertical-align: middle;
}

.button {
    padding: 10px;
    font-size: 21px;
    cursor: pointer;
}

input {
    font-family: 'Slabo 27px', serif;
    font-size: 21px;
}