/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

@import "~src/styles/layout.scss";


$primary: #1565c0;
$gray: #f0f0f0;
// $accent: map-get($theme, accent);

body,
html {
    font-family: 'Slabo 27px', serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* otherwise they hang from the top */

mat-icon {
    vertical-align: middle;
}

.hr {
    height: 1px;
    background: #CCC;
    margin: 5px 0px;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 10px;
    font-size: 21px;
    cursor: pointer;
}

input {
    font-family: 'Slabo 27px', serif;
    font-size: 21px;
}

input.editable {
    border: none;
    font-size: inherit;
    background: transparent;
    width: 100%;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
}

.round-icon {
    border: 1px solid #848f99;
    border-radius: 100%;
    padding: 3px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #848f99;
    margin-right: 10px;
    cursor: pointer;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.round-icon.small {
    width: 14px;
    height: 14px;
    font-size: 14px;
}

.round-icon.medium {
    width: 18px;
    height: 18px;
}

.round-icon.noborder {
    border: 0px solid #848f99;
}

.round-icon:hover {
    // color: #14aaf5;
    color: $primary;
    border-color: $primary;
}

.full-width {
    width: 100%;
}

h4 {

    margin-top: 20px;
    line-height: 1;
}

.super-title {
    color: rgb(21, 101, 192);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.gray-button {
    color: gray;
    cursor: pointer;
    outline: none;

    &:hover {
        color: #1565c0;
    }
}

.typo {
    &.subheader {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 0px;
        color: #1565c0;
    }
}

.clickable {
    cursor: pointer;
    outline: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        flex: 0 1 auto;
    }

    .container {
        display: flex;
        flex: 1 1 auto;

        .side-bar {
            flex: 0 1 300px;
            padding-left: 20px;
            background: #FAFAFA;
        }

        .content {
            flex: 1 1 auto;
            height: 100%;
        }
    }


}

.button {
    &.box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        box-sizing: border-box;
        margin: 10px 5px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;

        &.primary {
            color: white;
            background: #1565c0;
        }

        &.secondary {
            border: 1px solid #1565c0;
            color: #1565c0;

        }
    }
}

.drop-area {
    border: 3px dashed gray;
    border-radius: 20px;
}
