.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #CCC;
    align-items: center;

    .logo {
        font-size: 24px;
    }

    .action {
        .action-button {
            margin: 5px;
        }
    }
}